{% extends 'ofs/base.html' %}
{% load static %}
{% block content %}
    <section id="about" class="s-about">
        <div class="section1">
            <h1 class="head2">Online Food Ordering System</h1>
        </div> <!-- end section-header -->
        <div class = "aboutus">
            <h4> About Us </h4>
        </div>
        <div class="row about-desc aos-init aos-animate" data-aos="fade-up">
            <div class="col-full">
                <p>
                    The new concept of providing delicious food in a casual environment.
                    We provide a wide range of delicious food !!!
                    try ordering our tasty food online and pickup once your order is ready!
                </p>
            </div>
        </div> <!-- end about-desc -->
    </section>
{% endblock content %}